<div class="flex-grid flex-grid--wrap flex-grid--col w-100 m-40 t-center">
    <small>
        Built with <a href="https://www.11ty.io/">Eleventy</a> with &hearts;.
        <br/>View the source on <a href="{{ pkg.repository.url }}">GitHub</a>.
    </small>
</div>
